<% layout('layouts/boilerplate') -%>

<div class="row">
    <h1 class="text-center">Edit place</h1>
    <div class="offset-md-3 col-md-6">
        <form action="/places/<%= place._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="application/x-www-form-urlencoded">
            <div class="mb-3">   
                <label class="form-label" for="title">Title</label>
                <input class="form-control" id="title" type="title" placeholder="Title" name="place[title]" value="<%= place.title %>" required>
                <div class="invalid-feedback">
                    Plese fill out the field.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" type="description" placeholder="Description" name="place[description]" value="" required><%= place.description %></textarea>
                <div class="invalid-feedback">
                    Plese fill out the field.
                </div>
            </div>
            <div class="mb-3">
                <p class="for-label">Categories</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Culture" value="Culture" name="place[categories]" 
                        <% if( place.categories.includes("Culture") ) { %>checked<% } %> 
                    >
                    <label class="form-check-label" for="Culture">Culture</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Sport" value="Sport"  name="place[categories]" 
                        <% if( place.categories.includes("Sport") ) { %>checked<% } %>
                    >
                    <label class="form-check-label" for="Sport">Sport</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Nature" value="Nature"  name="place[categories]" 
                    <% if( place.categories.includes("Nature") ) { %>checked<% } %>
                    >
                    <label class="form-check-label" for="Nature">Nature</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Education" value="Education"  name="place[categories]" 
                    <% if( place.categories.includes("Education") ) { %>checked<% } %>
                    >
                    <label class="form-check-label" for="Education">Education</label>
                </div>
            </div>
            <div class="mb-3">
                <p class="for-label">Ages</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Ages1" value="0~2" name="place[ages]" 
                        <% if( place.ages.includes("0~2") ) { %>checked<% } %> 
                    >
                    <label class="form-check-label" for="Ages1">0~2 years old</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Ages2" value="3~6" name="place[ages]" 
                        <% if( place.ages.includes("3~6") ) { %>checked<% } %>
                    >
                    <label class="form-check-label" for="Ages2">3~6 years old</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Ages3" value="7~10" name="place[ages]" 
                        <% if( place.ages.includes("7~10") ) { %>checked<% } %>
                    >
                    <label class="form-check-label" for="Ages3">7~10 years old</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Ages4" value="10~" name="place[ages]" 
                        <% if( place.ages.includes("10~") ) { %>checked<% } %>
                    >
                    <label class="form-check-label" for="Ages4">10~ years old</label>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" id="location" type="location" placeholder="Location" name="place[location]" value="<%= place.location %>" required>
                <div class="invalid-feedback">
                    Please fill out the field.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="price" placeholder="0" aria-label="price" aria-describedby="price-label" name="place[price]" value="<%= place.price %>" required>
                    <span class="input-group-text" id="price-label">RSD</span>
                    <div class="invalid-feedback">
                        Please fill out the field.
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <button class="btn btn-success">Edit</button>
            </div>
        </form>

        <a href="/places">Back to Overview</a>
    </div>
</div>
    
