<% layout('layouts/boilerplate') -%>
<link href="/stylesheets/top-img.css" rel="stylesheet">

<div class="p-5 mb-4 bg-img">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold text-light">Explore Belgrade with small adventurers</h1>
      <p class="col-md-8 fs-4 text-light">Find wonderful destination for this weekend and share the info with other parents.</p>
    </div>
</div>
<div class="container">
	<div class="row">
        <!-- less than sm -->
        <div class="d-block d-md-none">
            <div class="container p-4 mb-3 bg-light rounded">
                <div class="row row-cols-2">
                    <!-- Button trigger modal -->
                    <a data-bs-toggle="modal" data-bs-target="#searchModal">
                        <i class="fa-solid fa-magnifying-glass"></i> Search
                    </a>
                    <!-- Button trigger modal -->
                    <a data-bs-toggle="modal" data-bs-target="#mapModal">
                        <i class="fa-solid fa-map-location-dot"></i> See with map
                    </a>
                </div>
            </div>
        </div>
        <!-- more than sm -->
		<div class="col-md-3 d-none d-md-block">    <!-- 3/12 -->
			<div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">Search</h4>
                    <%- include("search") %>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mapModal">
                        See with map
                    </button>
                </div>
            </div>
		</div>

		<div class="col-md-9">    <!-- 9/12 -->
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mb-3">
				<% for (let place of places) { %> 
                    <div class="col">
                        <a href="places/<%= place._id %>" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="<%= place.images[0].url %>" class="card-img-top" style="height:15vw; object-fit:cover;" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-body"><%= place.title %></h5>
                                <% if(place.category === "Culture") { %> 
                                    <p class="card-text"><span class="badge rounded-pill bg-primary"><%= place.category %></span></p>
                                <% }else if (place.category === "Sport") { %>
                                    <p class="card-text"><span class="badge rounded-pill bg-success"><%= place.category %></span></p>
                                <% }else if (place.category === "Education") { %>
                                    <p class="card-text"><span class="badge rounded-pill bg-danger"><%= place.category %></span></p>
                                <% }else if (place.category === "Nature") { %>
                                    <p class="card-text"><span class="badge rounded-pill bg-warning"><%= place.category %></span></p>
                                <% } %>
                                <p class="card-text">
                                    <% for (let age of place.ages) { %> 
                                        <span class="badge bg-secondary"><%= age %></span>
                                    <% } %>
                                </p>
                                <!-- <a href="places/<%= place._id %>">For detail</a> -->
                            </div>
                        </div>
                        </a>
                    </div>
                <% } %> 
			</div>
		</div>
	</div>
</div>

<%- include("modals") %>

<script>
    const mapToken = "<%= process.env.MAPBOX_TOKEN %>"
    const places = <%- JSON.stringify(places) %>
</script>
<script src="/javascripts/indexMap.js"></script>
