<% layout('layouts/boilerplate') -%>

<div class="container">
	<div class="row">	
		<div class="col-md-3">    <!-- 3/12 -->
			<div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                  <h4 class="fst-italic">About</h4>
                  <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
                </div>
            </div>
		</div>
		<div class="col-md-9">    <!-- 9/12 -->
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mb-3">
				<% for (let place of places) { %> 
                    <div class="col">
                        <div class="card h-100">
                            <img src="<%= place.images[0].url %>" class="card-img-top" style="height:15vw; object-fit:cover;" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><%= place.title %></h5>
                                <% if(place.category === "Culture") { %> 
                                    <p class="card-text"><span class="badge rounded-pill bg-primary"><%= place.category %></span></p>
                                <% }else if (place.category === "Sport") { %>
                                    <p class="card-text"><span class="badge rounded-pill bg-success"><%= place.category %></span></p>
                                <% }else if (place.category === "Education") { %>
                                    <p class="card-text"><span class="badge rounded-pill bg-danger"><%= place.category %></span></p>
                                <% }else if (place.category === "Nature") { %>
                                    <p class="card-text"><span class="badge rounded-pill bg-warning"><%= place.category %></span></p>
                                <% } %> 
                                <p class="card-text"><%= place.ages %></p>
                                <a href="places/<%= place._id %>">For detail</a>
                            </div>
                        </div>
                    </div>
                <% } %> 
			</div>
		</div>
	</div>
</div>


<!---
<h1>Places Overview</h1>
    <div class="row row-cols-1 row-cols-md-3 mb-3">
        <% for (let place of places) { %> 
            <div class="col">
            <div class="card h-100">
                <img src="<%= place.images[0].url %>" class="card-img-top" style="height:15vw; object-fit:cover;" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= place.title %></h5>
                    <p class="card-text"><%= place.category %></p>
                    <p class="card-text"><%= place.ages %></p>
                    <a href="places/<%= place._id %>">For detail</a>
                </div>
            </div>
            </div>
        <% } %> 
    </div>
-->