<% layout('layouts/boilerplate') -%>

<div class="p-5 mb-4 bg-secondary">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Custom jumbotron</h1>
      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
</div>

<div class="container">
	<div class="row">	
		<div class="col-md-3 d-none d-sm-block">    <!-- 3/12 -->
			<div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">Search</h4>
                    <form class="d-inline" action="/places" method="GET">
                        <p class="fw-bold mb-0 mt-1">Category:</p>
                        <input class="form-check-input" type="checkbox" id="culture" name="categories" value="Culture">
                        <label class="form-check-label" for="culture">Culture</label><br>
                        <input class="form-check-input" type="checkbox" id="sport" name="categories" value="Sport">
                        <label class="form-check-label" for="sport">Sport</label><br>
                        <input class="form-check-input" type="checkbox" id="education" name="categories" value="Education">
                        <label class="form-check-label" for="education">Education</label><br>
                        <input class="form-check-input" type="checkbox" id="nature" name="categories" value="Nature">
                        <label class="form-check-label" for="nature">Nature</label><br>

                        <p class="fw-bold mb-0 mt-1">Age:</p>
                        <input class="form-check-input" type="checkbox" id="0~2" name="ages" value="0~2">
                        <label class="form-check-label" for="0~2">0~2 yrs</label><br>
                        <input class="form-check-input" type="checkbox" id="3~6" name="ages" value="3~6">
                        <label class="form-check-label" for="3~6">3~6 yrs</label><br>
                        <input class="form-check-input" type="checkbox" id="7~10" name="ages" value="7~10">
                        <label class="form-check-label" for="7~10">7~10 yrs</label><br>
                        <input class="form-check-input" type="checkbox" id="10~" name="ages" value="10~">
                        <label class="form-check-label" for="10~">10~ yrs</label><br>
                        
                        <button class="btn btn-danger my-2">Search</button>
                    </form>
                    <form class="d-inline" action="/places" method="GET">
                        <button class="btn btn-outline-danger my-2">Clear all</button>
                    </form>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mapModal">
                        See with map
                    </button>
                </div>
            </div>
		</div>

		<div class="col-md-9">    <!-- 9/12 -->
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mb-3">
				<% for (let place of places) { %> 
                    <div class="col">
                        <a href="places/<%= place._id %>" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="<%= place.images[0].url %>" class="card-img-top" style="height:15vw; object-fit:cover;" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-body"><%= place.title %></h5>
                                <% if(place.category === "Culture") { %> 
                                    <p class="card-text"><span class="badge rounded-pill bg-primary"><%= place.category %></span></p>
                                <% }else if (place.category === "Sport") { %>
                                    <p class="card-text"><span class="badge rounded-pill bg-success"><%= place.category %></span></p>
                                <% }else if (place.category === "Education") { %>
                                    <p class="card-text"><span class="badge rounded-pill bg-danger"><%= place.category %></span></p>
                                <% }else if (place.category === "Nature") { %>
                                    <p class="card-text"><span class="badge rounded-pill bg-warning"><%= place.category %></span></p>
                                <% } %>
                                <p class="card-text">
                                    <% for (let age of place.ages) { %> 
                                        <span class="badge bg-secondary"><%= age %></span>
                                    <% } %>
                                </p>
                                <!-- <a href="places/<%= place._id %>">For detail</a> -->
                            </div>
                        </div>
                        </a>
                    </div>
                <% } %> 
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div id="index-map"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script>
    const mapToken = "<%= process.env.MAPBOX_TOKEN %>"
    const places = <%- JSON.stringify(places) %>
</script>
<script src="/javascripts/indexMap.js"></script>
